.devteetContainer {
  display: flex;
  padding: 10px 15px;
  border-bottom: solid 1px #ccc;
}

.devteetAvatar {
  padding-right: 10px;
}
.devteetMessage {
  line-height: 1.3125;
  margin: 0;
}

.header {
  display: flex;
  align-items: center;
}
.header > span {
  margin: 0px 5px 0px 5px;
}

.header > div {
  font-size: 14px;
  color: #cbcbcb;
}

.image {
  border-radius: 10px;
  height: auto;
  width: 100%;
  margin-top: 10px;
}
