html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

  background-image: radial-gradient(var(--Primary) 1px, transparent 1px),
    radial-gradient(var(--Primary) 1px, transparent 1px);
  background-position: 0 0, 25px 25px;
  background-size: 50px 50px;
  overflow: hidden;
}

:root {
  --Primary: #0099ff;
  --Secondary: #1c5480;
}
